/* .home {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .logolist {
    display: flex;
    align-items: center;
  }

  img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .logolist img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
  }
  /* .logolist p {
    display: flex;
    flex-direction: column;
    align-items: center;
  } */